<h1> this is user home page </h1>

<h1> Here are your current reservations </h1>

<h1> make new reservations </h1>

<%= link_to "New Reservation", new_reservation_path, class: "btn btn-default" %>

<h1> create a new restaurant </h1>
<%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-default" %>
