<div id = 'neighbourhood-form' value = "">
    <h1>Choose a Neighbourhood</h1>
    <% @neighbourhoods.each do |neighbourhood| %>
    <button id = 'neighbourhood' value = "<%=neighbourhood.id%>"><%= neighbourhood.name %></button>
    <% end %>
</div>
<div id = 'new-reservation-form' style= 'display: none';> 
    <h1>Select Date, Time, and Party Size</h1>
    <%= render 'form'%> 
</div>

<div id = 'conformation-form' style = 'display: none'>
    <h1>Generated Restaurant:</h1>
    <div id ='conformation-details'></div>
    <button id ='conformation'>Confirm Reservation</button>
</div>


<%= link_to "back to home page", reservations_path %>


