This is the restaurants/show page
<br> 
<!-- 
<%= @restaurant %> <br/>
<%= @restaurants %>
 -->
 <%= @one_restaurant.name %> <br/>
 <%= @one_restaurant.address %>

<h1>BOOK RESERVATION</h1>

<h1>chicken out</h1>
